/* header style  */
.header-container {
    padding: 0px 150px;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 159px;
}

.header__navigate-button-style-tablet {
    display: none;

}

.bg-header {
    width: 88%;
    height: 743px;
    flex-shrink: 0;
    position: absolute;
    z-index: -10;
    left: 0;
    top: 0;
    background: url('../../img/Bubble\ 2.png') top left/100% 743px no-repeat,
        url('../../img/Bubble\ 1.png') top left/96% 711.4px no-repeat;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo  */
.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 258px;
    height: 63px;
    flex-shrink: 0;
}

.header__logo-icon {
    position: relative;
    height: 100%;
}

.logo__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
    flex-shrink: 0;
}

.logo__circle-white-1 {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
}

.logo__circle-white-2 {
    position: absolute;
    top: 23px;
    left: 25px;
    z-index: 1;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
}

.logo__rectangle-blue {
    width: 40px;
    height: 11px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--primary-text-color);
    position: absolute;
    top: 26px;
    left: 39px;
}

.header__logo-text {
    width: 161px;
    line-height: 100%;
    height: 34px;
    flex-shrink: 0;
    color: var(--primary-text-color);
    font-family: Poppins;
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);

}

/* navigate */
.header__navigate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__navigate-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 51px;
}

.header__navigate-menu-item {
    min-height: 24px;
}

.header__navigate-menu-item:nth-child(1) {
    margin-right: 44px;
}

.header__navigate-menu-item:nth-child(2) {
    margin-right: 42px;
}

.header__navigate-menu-item:nth-child(4),
.header__navigate-menu-item:nth-child(3) {
    margin-right: 45px;
}

.active>a {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #414880 !important;
}

.sub-menu:hover .drop-down-menu__header {
    display: block;
}

.header__navigate-menu-item a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
}

.sub-menu {
    position: relative;
}

.drop-down-menu__header {
    position: absolute;
    min-width: 86px;
    top: 100%;
    left: -36px;
    border-radius: 8px;
    overflow: hidden;
    height: auto;
    display: none;
}

.drop-down-menu__header ul>li {
    background-color: #e2e4f5;
    width: 100%;
    text-align: center;
}

.drop-down-menu__header ul>li a:hover {
    background-color: #d9dcf3;
    color: #414880 !important;
}

.drop-down-menu__header ul>li a {
    padding: 12px 20px;
    display: block;
    color: var(--secondary-text-color) !important;
    /* width: 116px; */
}

.header__navigate-button {
    width: 158px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--pink-text-color);
    border-color: transparent;
    color: var(--white-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
}

/* slider */
.slider-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 136.35px;
    padding: 0 150px;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 18px;
}

.slider__text {
    width: 42%;
    margin-left: 29px;
    margin-top: 55px;
    color: var(--primary-text-color);
    font-style: normal;
    flex-shrink: 0;
}

.slider__text-title {
    width: 100%;
    height: auto;
    font-size: var(--font-size-48);
    font-weight: 600;
    line-height: 125%;
}

.slider__text-desc {
    width: 100%;
    height: auto;
    font-size: var(--font-size-16);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1.6px;
    margin-top: 9px;
    margin-bottom: 36px;
}

.slider__text-btn {
    width: 200px;
    height: 58.361px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--pink-text-color);
    box-shadow: 0px 17px 22px 0px #FFEDF6;
    color: var(--white-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    border-color: transparent;
}

.slider__img {
    display: flex;
    width: 52%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.slide__button {
    display: block;
    width: 71px;
    height: 8.146px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-bottom: 134px;
}

.margin-btm {
    margin-bottom: 1000px;
}

.content {
    max-width: 1440px;
    width: 100%;
    padding: 0px 150px;
    margin: 0 auto;
}

.core-services {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 134.44px;
}

.core-services__top-desc {
    color: var(--pink-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.core-services__title {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: var(--primary-text-color);
    margin: 0 auto;
    margin-top: 11px;
    font-size: var(--font-size-36);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;

}

.core-services__bottom-desc {
    width: 90%;
    margin: 0 auto;
    height: auto;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    margin-bottom: 82px;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-top: 19px;
}

.content-services-cards {
    display: flex;
    width: 100%;
    column-gap: 5%;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.services-cards__item {
    width: 30%;
    height: 458px;
    flex-shrink: 0;
    border-radius: 42px;
    background: var(--white-text-color);
    box-shadow: 0px 25px 50px 25px #F6F7FF;
    padding-top: 59px;
}

.services-cards__item img {
    margin-bottom: 52px;
    width: 48%;
    height: auto;
    flex-shrink: 0;
}

.services-cards__item-title {
    width: 80%;
    margin: 0 auto;
    height: auto;
    flex-shrink: 0;
    color: var(--primary-text-color);
    text-align: center;
    font-size: var(--font-size-18);
    font-style: normal;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: 125%;
}

.services-cards__item-desc {
    width: 82%;
    margin: 0 auto;
    height: auto;
    margin-top: 22px;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
}

.div-bg {

    position: absolute;
    z-index: -10;
    right: 0;
    top: 1448px;
    width: 948.146px;
    height: 1028.886px;
    background: url('../../img/Bubble\ 2\ \(1\).png') top right/948.146px 1028.886px no-repeat,
        url('../../img/Bubble\ 1\ \(1\).png') top right/883.635px 959.036px no-repeat;
}

/* about us  */

.content-about-us {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 8%;
    margin-bottom: 142.2px;
}

.content-about-us__text {
    flex-shrink: 0;
    width: 50%;
}

.content-about-us__text-top-desc {
    color: var(--pink-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.content-about-us__text-title {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: var(--primary-text-color);
    font-size: var(--font-size-36);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 12px 0px;
}

.content-about-us__text-bottom-desc {
    width: 84%;
    height: auto;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 54px;
    row-gap: 24px;
}

.content-about-us__img {
    margin-top: 44.56px;
    width: 41.82%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0px 0px 50px 25px #FFF;
}

.content-about-us__text-button {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.about-us__text-button--learn-more {
    width: 200px;
    height: 58.361px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--pink-text-color);
    box-shadow: 0px 17px 22px 0px #FFEDF6;
    color: var(--white-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
}

.about-us__text-button--watch-video {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.about-us__text-button--watch-video span {
    width: 151px;
    height: 27px;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: left;
}

.about-us__text-button--watch-video img {
    width: 49px;
    height: 49px;
    flex-shrink: 0;
}


.content-professional-teams-container {
    width: 100%;
    margin-bottom: 147px;
}

.professional-teams__title-desc {
    margin-bottom: 110px;
    text-align: center;
    width: 100%;
}

.teams__title-desc--desc-top {
    color: var(--pink-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.teams__title-desc--title {
    width: 86%;
    color: var(--primary-text-color);
    height: auto;
    flex-shrink: 0;
    font-size: var(--font-size-36);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 12px auto;
}

.teams__title-desc--desc-bottom {
    width: 86%;
    height: auto;
    margin: 0 auto;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    letter-spacing: 1.6px;
}

.professional-teams__cards {
    width: 100%;
    display: flex;
    column-gap: 60px;
    justify-content: center;

}

.professional-teams__card {
    width: 24%;
    height: 626px;
    flex-shrink: 0;
    border-radius: 42px;
    padding-top: 91px;
    text-align: center;
}

.teams__card-center {
    box-shadow: 0px 25px 50px 25px #F6F7FF;
    width: 37%;
    background: var(--white-text-color);
}

.card-img {
    width: 53.88%;
}

.card-center-img {
    width: 34.88%;
}

.professional-teams__card img {
    height: auto;
    flex-shrink: 0;
    border-radius: 146px;
    margin-bottom: 47px;
}

.professional-teams__card-desc-top {
    color: var(--pink-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 15px;
}

.professional-teams__card-name {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: var(--primary-text-color);
    font-size: var(--font-size-18);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 21px;
}

.professional-teams__card-desc-bottom {
    width: 92%;
    margin: 0 auto;
    height: auto;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    margin-bottom: 50px;
}

.card-center-desc-bottom {
    width: 74%;
}

.professional-teams__card-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12.68%;
}

.card-center-social-media {
    column-gap: 8%;
}


.social-media--item {
    width: 49px;
    height: 49px;
    flex-shrink: 0;
    background-color: var(--white-text-color);
    box-shadow: 0px 6px 12px 10px #F6F7FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-media--item img {
    width: 25px;
    object-fit: cover;
    height: 25px;
    flex-shrink: 0;
    fill: rgba(0, 0, 0, 0.00);
    margin: 0;
}

.bg-contact-b1 {
    position: absolute;
    z-index: -10;
    left: 0;
    top: 3169.08px;
    width: 71%;
    height: 824.44px;
    background:
        url('../../img/Bubble\ 1\ \(2\).png') top left/100% 824.44px no-repeat;
}

.bg-contact-b2 {
    position: absolute;
    z-index: -10;
    left: 0;
    top: 3142px;
    width: 82%;
    height: 929px;
    background:
        url('../../img/Bubble\ 2\ \(2\).png') top left/100% 929px no-repeat;
}

/* content-contact-us */

.content-contact {
    width: 100%;
    min-height: 200px;
    margin-bottom: 69.66px;
    display: flex;
    justify-content: center;
}

.content-contact__img {
    width: 45.7%;
    height: fit-content;
    flex-shrink: 0;
    margin-top: 159px;
}

.content-contact__form {
    width: 46%;
    margin-left: 8.8%;

}

.content-contact__form-top-desc {
    color: var(--pink-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 20px */
}

.content-contact__form-title {
    width: 82%;
    height: auto;
    flex-shrink: 0;
    color: var(--primary-text-color);
    font-size: var(--font-size-36);
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 12px 0px;
}

.content-contact__form-bottom-desc {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: #8B8B8B;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-bottom: 46px;
    margin-top: 18px;
}

.form-name {
    width: 100%;
    display: flex;
    column-gap: 7.4%;
    margin-bottom: 38.32px;
}

.input-textarea {
    display: block;
    width: 100%;
    height: 239.474px;
    padding-top: 25.32px;
    margin-bottom: 54.84px;
}

.btn-submit-form-contact {
    width: 248px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--pink-text-color);
    box-shadow: 0px 17px 22px 0px #FFEDF6;
    color: var(--white-text-color);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
}

/* footer */
.footer-container {
    margin: 0 auto;
}

.footer {
    padding: 0px 150px;
    width: 100%;
    height: 705.342px;
    position: relative;
    padding-top: 225.34px;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 42%;
    height: fit-content;
    margin-bottom: 145px;
}

.bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0D165C;
    z-index: -10;
    width: 100%;
    height: 125px;
    flex-shrink: 0;
}

.footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -9;
    width: 100%;
    height: 705.34px;
    background:
        url('../../img/Footer\ BG.png') top left/100% 705.34px no-repeat;
}

.lg-footer {
    margin-top: 17px;
    margin-right: 0;
}

.footer__logo-text {
    width: 100%;
    padding-left: 31px;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
}

.footer__logo-desc-top {
    color: #D7DBFF;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-top: 33px;
    margin-bottom: 26px;
    height: 21px;
}

.footer__logo-desc-top strong {
    font-weight: 700;
}

.footer__logo-desc-mid {
    height: 24px;
    display: block;
    color: #D7DBFF;
    font-family: Poppins;
    font-size: var(--font-size-14);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    flex-shrink: 0;
}

.footer__logo-desc-bottom {
    width: 100%;
    height: auto;
    color: #D7DBFF;
    font-size: var(--font-size-14);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 9.4%;
}

.footer__logo-desc-bottom em:nth-child(2) {
    text-decoration: underline;
}

.logo-text-color-footer {
    color: var(--white-text-color);
}

.logo-color-footer {
    background-color: var(--white-text-color);
}

.footer-social-icons {
    max-width: 400px;
    min-height: 50px;
    display: flex;
    align-items: center;
    column-gap: 45px;
    margin-top: -9px;
    justify-content: flex-start;
    position: absolute;
    left: 10.%;
    bottom: 11%;
}

.footer-social-icon {
    width: 25px;
    height: 27.839px;
    flex-shrink: 0;
    fill: rgba(0, 0, 0, 0.00);
    cursor: pointer;
}

.footer__pages {
    margin-left: -32px;
    flex-shrink: 0;
    height: fit-content;
}


.footer__pages-title {
    width: 129px;
    height: 31px;
    color: var(--white-text-color);
    font-size: var(--font-size-18);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 24px;
}


.footer__pages-item {
    min-width: 110px;
    height: 24px;
    flex-shrink: 0;
    background-image: url('../../icons/caret-right.png');
    background-repeat: no-repeat;
    background-position: left center;
    list-style-type: none;
    padding-left: 21px;
    margin-bottom: 11px;
}


.footer__pages-item a {
    color: #D7DBFF;
    font-family: Poppins;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-decoration: none;
    cursor: pointer;
}

.footer__infor {
    flex-shrink: 0;
    height: fit-content;
    margin-right: 12px;
}

.position-parent-copyright {
    position: relative;
}

.footer__copyright {
    position: absolute;
    right: 148px;
    bottom: 88px;
    width: 497px;
    height: 31.179px;
    color: #D7DBFF;
    text-align: right;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

.footer__arrow-up {
    display: none;
    position: fixed;
    bottom: 69px;
    right: 66px;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--pink-text-color);

}

@media(max-width:1264px) {
    .header__navigate-button-style-tablet {
        display: block;
        z-index: 100;
    }

    .header__navigate-button-style-tablet svg {
        color: var(--pink-text-color);
        width: 44px;

    }

    #menu {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
    }

    .header__navigate-menu {
        width: 100%;
        margin: 0;
        flex-direction: column;
    }

    .navigate-styles-tablet {
        position: fixed;
        top: 140px;
        right: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--white-text-color);
        transition: 0.5s;
        /* animation: translateX-menu 0.3s forwards; */
        z-index: 10;
    }


    .header__navigate-button {
        background-color: transparent;
        color: var(--pink-text-color);
        padding: 19px 0;
        padding-left: 38px;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .header__navigate-menu-item {
        margin: 0 !important;
        height: auto;
        width: 100%;
    }

    .header__navigate-menu-item:hover {
        background-color: #e2e4f5;
    }

    .header__navigate-menu li a {
        padding: 20px 0;
        padding-left: 38px;
        display: block;
        text-align: left;
        width: 100%;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 150px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.70;
        z-index: 1;
    }

    #menu.active {
        /* display: flex; */

        display: block;
        /* transform: translateX(0); */
        /* animation: slideLeft 0.3s forwards; */
    }

    #menu.active .overlay {
        display: block;
    }

    .drop-down-menu__header {
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
    }

    .drop-down-menu__header ul>li {
        background-color: var(--white-text-color)
    }

    .drop-down-menu__header ul>li a {
        padding: 20px 40px;
    }

    .content-about-us__text-bottom-desc {
        width: 100%;
    }

    .content-contact__form-title {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .header-container {
        padding: 41px 16px 80px 16px;
    }

    .header {
        width: 100%;
        margin: 0;
        padding: 0;
        padding: 0;
        justify-content: space-between;
        position: relative;
    }

    .header__navigate-button-style-tablet {
        display: block;
        z-index: 100;
    }

    .header__navigate-button-style-tablet svg {
        color: var(--pink-text-color);
        width: 44px;

    }



    #menu {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
    }

    .header__navigate-menu {
        width: 100%;
        margin: 0;
        flex-direction: column;
    }

    .navigate-styles-tablet {
        position: fixed;
        top: 140px;
        right: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #c4c0c0;
        transition: 0.5s;
        /* animation: translateX-menu 0.3s forwards; */
        z-index: 10;
    }

    .header__navigate-menu-item {
        margin: 0 !important;
        height: auto;
        width: 100%;
    }

    .header__navigate-menu-item:hover {
        background-color: #e2e4f5;
    }

    .header__navigate-menu li a {
        padding: 20px 0;
        padding-left: 28px;
        display: block;
        text-align: left;
        width: 100%;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 150px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.58);
        z-index: 1;
    }

    #menu.active {
        /* display: flex; */

        display: block;
        /* transform: translateX(0); */
        /* animation: slideLeft 0.3s forwards; */
    }

    #menu.active .overlay {
        display: block;
    }

    .content-about-us {
        flex-wrap: wrap;
        width: 100%;
    }

    .slider {
        width: 100%;
        flex-wrap: wrap-reverse;
    }

    .slider__img {
        margin: 0;
    }

    .slider__text {
        width: 100%;
    }

    .slider__text-desc {
        max-width: 90%;
        margin: 0 auto;
    }

    .content-services-cards {
        flex-wrap: wrap;
        width: 100%;
    }

    .services-cards__item-desc {
        width: 86%;
        height: auto;
        margin-bottom: 26px;
    }

    .content-professional-teams-container {
        width: 100%;
    }

    .professional-teams__cards {
        flex-wrap: wrap;
        row-gap: 36px;
        width: 100%;
    }

    .content-contact {
        flex-wrap: wrap-reverse;
        text-align: center;
    }

    .content-about-us__text {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .content-about-us__text-bottom-desc {
        width: 96%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 18px;
    }

    .content-about-us__text-button {
        justify-content: center;
    }

    .content-contact__img {
        margin: 0;
        width: 80%;
        height: auto;
    }

    .content-contact__form {
        margin: 0 auto;
        width: 80%;
    }

    .content-contact__form-title {
        width: 100%;
        height: auto;
        margin: 12px auto;
    }

    .content-contact__form-bottom-desc {
        width: 86%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .form-name {
        width: 94%;
        margin: 0 auto;
        justify-content: space-between;
        margin-bottom: 16px;
        column-gap: 0;
    }

    .input-style-default-size-M {
        width: 48%;
    }

    .input-textarea,
    .input-size-L {
        width: 94%;
        margin: 0 auto;
        margin-bottom: 16px;
    }
}

/* UI mobile */
@media (max-width: 739px) {
    :root {
        --font-size-48: 26px;
        --font-size-36: 18px;
        --font-size-24: 20px;
        --font-size-18: 14px;
        --font-size-16: 12px;
        --font-size-14: 10px;
    }

    .header-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .header {
        padding: 0;
    }

    .header__logo {
        margin-right: 0px;
    }

    /* .drop-down-menu__header {
        left: -100%;
        top: 0;
        width: 100%;
    } */
    .navigate-styles-tablet {
        background-color: var(--white-text-color);
    }

    .drop-down-menu__header ul>li {
        background-color: var(--white-text-color);
        width: 100%;
        text-align: center;
    }

    .header__navigate-button {
        padding-left: 28px;
    }

    .drop-down-menu__header {
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
    }

    .slider-container {
        padding: 0 16px;
        margin-bottom: 40px;
    }

    .slider {
        width: 100%;
    }

    .slide__button {
        margin-bottom: 40px;
    }

    .slider__text {
        width: 100%;
        margin: 0;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }

    .slider__text-title {
        width: 100%;
        height: auto;
        margin-bottom: 14px;
    }

    .slider__text-desc {
        height: auto;
        margin-bottom: 18px;
    }

    .slider__img {
        width: 80%;
        height: auto;
        margin: 0;
    }

    .slider__text-btn {
        width: 130px;
        height: 48px;
        border-color: transparent;
    }

    .content {
        width: 100%;
        padding: 0px 16px;
    }

    .core-services {
        width: 100%;
        margin-bottom: 40px;
    }

    .services-cards__item {
        margin-bottom: 36px;
        width: 80%;
        height: auto;
        padding-top: 26px;

    }

    .content-services-cards {
        margin-bottom: 0px;
    }

    .core-services__title {
        max-width: 400px;
        width: 80%;
        margin: 14px auto;
        height: auto;
    }

    .core-services__bottom-desc {
        height: auto;
        max-width: 86%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .services-cards__item img {
        margin-bottom: 8px;
    }

    .content-about-us {
        margin-bottom: 40px;
    }

    .content-about-us__text {
        margin: 0 auto;
        margin-top: 0;
        text-align: center;
    }

    .content-about-us__img {
        width: 80%;
        height: auto;
    }

    .content-about-us__text-bottom-desc {
        margin-bottom: 24px;
    }

    .content-about-us__text-title,
    .content-about-us__text-bottom-desc {
        text-align: center;
        width: 88%;
        margin: 14px auto;
        height: auto;
    }

    .about-us__text-button--learn-more {

        width: 130px;
        height: 48px;
        border-color: transparent;

    }

    .about-us__text-button--watch-video img {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
    }

    .about-us__text-button--watch-video span {
        width: 100px;
        height: 18px;
        text-align: left;
    }

    .teams__title-desc--desc-bottom {
        max-width: 90%;
        margin: 0 auto;
    }

    .professional-teams__title-desc {
        margin-bottom: 16px;
    }

    .content-professional-teams-container {
        margin-bottom: 48px;
    }

    .professional-teams__card>img {
        margin-bottom: 20px;
    }

    .professional-teams__card-desc-bottom {
        margin-bottom: 20px;
    }

    .teams__title-desc--title {
        max-width: 350px;
        height: auto;
    }

    .mobile-styles {
        width: 80%;
        background-color: var(--white-text-color);
        box-shadow: 0px 25px 50px 25px #F6F7FF;
        height: auto;
        padding-bottom: 26px;
        padding-top: 26px;
    }

    .content-contact {
        margin-bottom: 0;
    }

    .content-contact__img {
        margin: 0;
        width: 80%;
        height: auto;
    }

    .bg-header {
        width: 93%;
        height: 543px;
        background: url('../../img/Bubble\ 2.png') top left/93% 543px no-repeat,
            url('../../img/Bubble\ 2.png') top left/93% 511.4px no-repeat;
    }

    .div-bg {
        top: 2000px;
        width: 93%;
        height: 828.886px;
        background: url('../../img/Bubble\ 2\ \(1\).png') top right/93% 828.886px no-repeat,
            url('../../img/Bubble\ 1\ \(1\).png') top right/93% 759.036px no-repeat;
    }

    .bg-contact-b1 {
        top: 4169.08px;
        width: 90%;
        height: 824.44px;
        background:
            url('../../img/Bubble\ 1\ \(2\).png') top left/90% 824.44px no-repeat;
    }

    .bg-contact-b2 {
        top: 4142px;
        width: 93%;
        height: 929px;
        background:
            url('../../img/Bubble\ 2\ \(2\).png') top left/93% 929px no-repeat;
    }

    .block {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .input-mobile-styles {
        max-width: 100%;
        width: 100%;
        height: 48px;
        min-height: 48px;
        margin-bottom: 12px;
    }

    .input-textarea-mobile-styles {
        max-width: 100%;
        width: 100%;
        height: 148px;
        margin-bottom: 12px;
    }

    .block~textarea,
    .block~input {
        margin: 0 auto;
        margin-bottom: 12px;
    }

    .btn-submit-form-contact {
        width: 180px;
        height: 48px;


    }

    .content-contact__form-title {
        margin: 12px 0px;
        height: auto;
    }

    .content-contact__form-bottom-desc {
        height: auto;
        margin-bottom: 30px;
    }


    .footer {
        flex-direction: column;
        padding: 0 16px;
        margin-top: 20px;
        padding-top: 40px;
        width: 100%;
        height: 0;
        min-height: 470px;
        justify-content: unset;
        align-items: flex-start;
    }

    .footer__pages-title {
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    .footer-social-icons {
        margin-top: -114px;
    }

    .footer__pages-item {
        min-width: 0;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }

    .footer-social-icons {
        justify-content: center;
    }

    .footer__logo-text {
        margin-top: 18px;
        width: 100%;
        display: inline-block;
        margin-bottom: 0;
        padding-left: 0px;
        position: relative;
        text-align: left;
    }

    .footer__logo-desc-bottom {
        text-align: center;
    }

    .footer__infor,
    .footer__pages {
        width: 100%;
        margin: 0;
        margin-top: 1%;
    }

    .footer__copyright {
        right: 20px;
        bottom: 20px;
    }

    .footer__arrow-up {
        bottom: 96px;
        right: 24px;
    }

    .footer__pages p,
    .footer__infor p {
        font-size: var(--font-size-16);
    }

    .footer__pages ul>li a,
    .footer__infor ul>li a {
        font-size: var(--font-size-14);
    }

    .footer__pages ul,
    .footer__infor ul {
        display: flex;
        flex: 1;
        flex-shrink: 0;
        column-gap: 4%;
        flex-wrap: wrap;
    }

    .footer__logo-text>em,
    .footer__logo-text>p {
        font-size: var(--font-size-14);
        padding: 0;
        margin: 0 auto;
        margin-bottom: 60px;
        margin: 9px 0px;
        width: 100%;
        height: auto;
    }

    .footer__logo {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bottom-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #0D165C;
        z-index: -10;
        width: 100%;
        height: 95px;
        flex-shrink: 0;
    }

    .footer-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -9;
        width: 100%;
        height: 100%;
        background:
            url('../../img/Footer\ BG.png') top left/100% 100% no-repeat;
    }
}

/* UI tablet */
@media(min-width: 740px) and (max-width: 1024px) {
    .header__logo {
        margin: 0;
    }

    .footer,
    .content,
    .slider-container {
        padding: 0 16px;
        width: 100%;
    }

    @keyframes slideLeft {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes translateX-menu {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(100%);
        }
    }



    .drop-down-menu__header ul>li {
        background-color: var(--white-text-color)
    }

    .drop-down-menu__header ul>li a {
        padding: 20px 40px;
    }

    .navigate-styles-tablet {
        position: fixed;
        top: 140px;
        right: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--white-text-color);
        transition: 0.5s;
        /* animation: translateX-menu 0.3s forwards; */
        z-index: 10;
    }

    .header__navigate-menu li a {
        padding: 20px 0;
        padding-left: 38px;
        display: block;
        text-align: left;
        font-size: var(--font-size-18);
        width: 100%;
    }


    .slider-container {
        margin-bottom: 60px;
    }

    .slide__button {
        margin-bottom: 60px;
    }

    .core-services__bottom-desc {
        margin-bottom: 40px;
    }

    .slider__text {
        margin: 0;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }

    .slider__text-title {
        min-width: 0;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .slider__text-desc {
        width: 100%;
        height: auto;
        margin-bottom: 14px;
    }

    .core-services {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .content-services-cards {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .services-cards__item {
        width: 80%;
        height: auto;
        margin-bottom: 36px;
    }

    .services-cards__item-desc {
        margin-bottom: 50px;
    }

    .core-services__title {
        width: 90%;
    }



    .content-about-us {
        margin-bottom: 60px;
        width: 100%;
    }



    .content-about-us__text-title {
        width: 80%;
        margin: 12px auto;
    }

    .content-about-us__img {
        width: 78%;
        height: fit-content;
    }




    .content-professional-teams-container {
        width: 100%;
        margin-bottom: 60px;
    }

    .professional-teams__cards {
        flex-wrap: wrap;
        row-gap: 46px;
    }

    .professional-teams__title-desc {
        width: 88%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .professional-teams__card-desc-bottom {
        width: 80%;
    }

    .tablet-styles {
        background-color: var(--white-text-color);
        box-shadow: 0px 25px 50px 25px #F6F7FF;
        width: 80%;
        height: auto;
        padding-bottom: 10%;
    }


    .bg-header {
        width: 93%;
        height: 543px;
        background: url('../../img/Bubble\ 2.png') top left/93% 543px no-repeat,
            url('../../img/Bubble\ 2.png') top left/93% 511.4px no-repeat;
    }

    .div-bg {
        top: 2000px;
        width: 93%;
        height: 828.886px;
        background: url('../../img/Bubble\ 2\ \(1\).png') top right/93% 828.886px no-repeat,
            url('../../img/Bubble\ 1\ \(1\).png') top right/93% 759.036px no-repeat;
    }

    .bg-contact-b1 {
        top: 4169.08px;
        width: 90%;
        height: 824.44px;
        background:
            url('../../img/Bubble\ 1\ \(2\).png') top left/90% 824.44px no-repeat;
    }

    .bg-contact-b2 {
        top: 4142px;
        width: 93%;
        height: 929px;
        background:
            url('../../img/Bubble\ 2\ \(2\).png') top left/93% 929px no-repeat;
    }

    .footer {
        padding: 160px 16px;
    }

    .footer__logo-text {
        max-width: 286px;
        display: inline-block;
        margin-bottom: 120px;
        padding-left: 0px;
        margin-left: 12px;
    }

    .footer-social-icons {
        left: 14%;
        bottom: 25%;
        margin-top: -60px;
    }

    .footer__logo-desc-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

}