.header {
    margin-bottom: 204px;
}

.header__navigate-menu-item a {
    color: var(--text-color-D8D);
}

.header__navigate-menu-item:first-child img,
.header__navigate-menu-item:first-child a {
    color: var(--white-text-color);
}

.header__navigate-button-style-tablet {
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
}

.bg-header {
    width: 100%;
    height: 918px;
    flex-shrink: 0;
    position: absolute;
    z-index: -10;
    left: 0;
    top: 0;
    background: url('../../img/Home2/Background\ Slider.png') top left/100% 918px no-repeat;
}

.content-container {
    max-width: 1440px;
    padding: 0px 150px;
    margin: 0 auto;
}

.slider {
    justify-content: flex-start;
    margin-bottom: 472px;
}

.slider__text {
    margin: 0;
    font-style: normal;
    flex-shrink: 0;
    margin-right: 197px;
}

.slider__btn-play svg {
    width: 165px;
    height: auto;
    flex-shrink: 0;
    margin-right: 27px;
}

.slider__btn-play span {
    color: var(--white-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
}

.slider__text-title {
    width: 502px;
    height: 133px;
    flex-shrink: 0;
    color: var(--white-text-color);
}

.slider__text-desc {
    width: 501px;
    height: 78px;
    flex-shrink: 0;
    color: var(--text-color-D8D);
    margin-bottom: 34px;
}

.slider__text-btn {
    width: 179px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: unset;
}

.content-about-us {
    justify-content: flex-start;
    margin-bottom: 157.64px;
}

.content-about-us__img {
    margin: 0;
    width: 490px;
    height: 302.675px;
    flex-shrink: 0;
    margin-right: 167px;
}

.content-about-us__text-title {
    width: 460px;
    height: 91px;
    flex-shrink: 0;
}

.content-about-us__text-bottom-desc {
    width: 483px;
    height: 133px;
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 35px;
}

.professional-teams__title-desc {
    margin: 0;
    margin-bottom: 47px;
}

.professional-teams__cards {
    column-gap: 66px;
    margin-bottom: 400px;
}

.professional-teams__card {
    width: 261px;
    height: 303px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #9BA2E0;
    background: #FFF;
    padding: 31px 34px;
    text-align: left;
}

.professional-teams__card img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 17px;
    border-radius: unset;
}

.professional-teams__card-name {
    margin: 0px;
}

.professional-teams__card-desc-bottom {
    width: 189px;
    height: 63px;
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 17px;
}

.professional-teams__card-desc-top span {
    width: 90px;
    height: 19px;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: var(--pink-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.professional-teams__card-desc-top {
    display: flex;
    align-items: center;
}

.bg-wave-line {
    position: absolute;
    top: 1928px;
    left: 0;
    z-index: -10;
    width: 524px;
    height: 350.34px;
    background:
        url('../../img/Home2/Wave\ Line.png') top left/524px 350.34px no-repeat;
}

.bg-why-choosing-us {
    position: absolute;
    top: 2222px;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 699.34px;
    background:
        url('../../img/Home2/Background-wcu.png') top left/100% 699.34px no-repeat;
}

.content-why {
    width: 100%;
    min-height: 100px;
    display: flex;
    margin-bottom: 304px;
}

.content-why__text {
    padding-left: 5px;
    margin-top: 19px;
}

.content-why__text h3 {
    width: 461px;
    height: 53px;
    flex-shrink: 0;
    color: var(--white-text-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 10px;
}

.content-why__text p {
    width: 486px;
    height: 80px;
    flex-shrink: 0;
    color: var(--text-color-D8D);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-right: 139px;
}

.content-why__statistical {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    column-gap: 72px;
    margin-top: 5px;
    margin-left: -2px;

}

.statistical-item {
    margin-bottom: 48px;
}

.statistical-item img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-right: 11px;
}

.statistical-item-text h3 {
    width: 122px;
    height: 41px;
    flex-shrink: 0;
    color: var(--white-text-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 2px;
    /* 45px */
}

.color-pink {
    color: var(--pink-text-color) !important;
}

.statistical-item-text p {
    width: 132px;
    height: 23px;
    flex-shrink: 0;
    color: var(--text-color-D8D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 20px */
}

.mb-home2 {
    margin: 0;
    margin-bottom: 60px;
}

.dimension-card-h2 {
    width: 347px;
    height: 543px;
    flex-shrink: 0;
    border-radius: 25px;
    background: var(--white-text-color);
    box-shadow: 0px 25px 50px 5px #F6F7FF;
    padding: 0;
}

.dimension-card-h2__img {
    width: 347px !important;
    height: 249px !important;
    flex-shrink: 0;
    border-radius: 25px 25px 0px 0px;
    margin: 0px !important;
}

.card-text {
    padding: 47px 36px;
}

.dimension-card-h2__title {
    width: 271px;
    height: 58px;
    flex-shrink: 0;
}

.dimension-card-h2__desc {
    width: 271px;
    height: 74px;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
}

.col-gap-card-h2 {
    column-gap: 49px;
    margin: 0;
    margin-bottom: 169px;
}

.bg-services {
    position: absolute;
    top: 2888px;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 1292.081px;
    flex-shrink: 0;
    background:
        url('../../img/Home2/Background\ Wave.png') top left/100% 1292.081px no-repeat;
}

.content-req-call-services {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 122px;
}

.call-services__text h3 {
    width: 391px;
    height: 50px;
    flex-shrink: 0;
    color: var(--primary-text-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 11px;
}

.call-services__text p {
    width: 391px;
    height: 60px;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

.call-services__input-input {
    display: flex;
    align-items: center;
    width: 658px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid #D9DDFE;
    background: #FFF;
    margin-top: 13px;
    margin-bottom: 7px;
}

.call-services__input-input input {
    flex: 1;
    height: 100%;
    padding: 0px 34px;
    color: #C5C5C5;
    font-size: 16px;
    border-radius: 25px 0px 0px 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

.call-services__input-input button {
    width: 113px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 0px 25px 25px 0px;
    background: var(--pink-text-color);
}

.call-services__input-desc {
    width: 536px;
    height: 17px;
    display: block;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    text-align: right !important;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

@media(max-width:1439px) {
    .content-container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0px 50px;
    }
}

@media (max-width:1023px) {
    .content-about-us {
        margin-bottom: 100px;
    }

    .content-why {
        margin-bottom: 90px;
    }

    .content-why__statistical {
        margin-left: 40px;
        flex-direction: column;
        margin-top: -116px;
    }

    .content-professional-teams-container {
        margin-bottom: 100px;
    }

    .content-req-call-services {
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
    }

    .call-services__input {
        text-align: right;
        max-width: 500px;
    }

    .call-services__input-input {
        max-width: 100%;
        margin: 0;
    }

    .call-services__text {
        max-width: 500px;
        text-align: center;
    }

    .call-services__input-desc {
        display: inline;
    }
}

@media(max-width:739px) {
    .header {
        margin-bottom: 80px;
    }

    .content-container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .bg-header {
        height: 568px;
        background: url('../../img/Home2/Background\ Slider.png') top left/100% 568px no-repeat;
    }

    .slider {
        margin-bottom: 120px;
        justify-content: center;
    }

    .slider__text {
        margin: 0;
    }

    .slider__text-title {
        width: auto;
        height: auto;
    }

    .slider__btn-play svg {
        width: 60px;
        height: auto;
        margin-right: 10px;
    }

    .content-about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .content-about-us__text-bottom-desc,
    .content-about-us__text-title {
        max-width: 320px;
        height: auto;
    }

    .content-about-us__text-bottom-desc {
        margin-bottom: 20px;
    }

    .content-about-us__img {
        margin: 0;
        width: 60%;
        height: auto;
    }

    .professional-teams__title-desc {
        margin-bottom: 10px;
    }

    .professional-teams__cards {
        margin-bottom: 60px;
    }

    .professional-teams__card {
        width: 228px;
        height: 266px;
        padding: 20px 20px;
    }

    .content-why {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
        height: 200px;
    }

    .content-why__text {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .content-why__text h3 {
        font-size: 18px;
        width: 168px;
        height: auto;
    }

    .content-why__text p {
        font-size: 10px;
        max-width: 220px;
        height: auto;
        margin-right: 0;
    }

    .content-why__statistical {
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 0;
        margin-top: 0px;
        margin-left: 0px;
    }

    .statistical-item {
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    .statistical-item img {
        width: 18px;
        height: auto;
        margin-right: 4px;
    }

    .statistical-item-text h3 {
        font-size: 12px;
        max-width: 80px;
        height: auto;
    }

    .statistical-item-text p {
        font-size: 8px;
        display: block;
        width: 65px;
        height: auto;
    }

    .bg-wave-line {
        top: 2000px;
        width: 224px;
        height: 180.34px;
        background:
            url('../../img/Home2/Wave\ Line.png') top left/224px 180.34px no-repeat;
    }

    .bg-why-choosing-us {
        top: 2155px;
        height: 299.34px;
        background:
            url('../../img/Home2/Background-wcu.png') top left/100% 299.34px no-repeat;
    }

    .bg-services {
        top: 3113px;

        height: 708.081px;
        flex-shrink: 0;
        background:
            url('../../img/Home2/Background\ Wave.png') top left/100% 708.081px no-repeat;
    }

    .teams__title-desc--desc-top {
        font-size: 12px;
    }

    .teams__title-desc--title {
        font-size: 18px;
    }

    .teams__title-desc--desc-bottom {
        font-size: 10px;
        height: auto;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }


    .card-mobile-styles {
        width: 100% !important;
        height: auto !important;
        padding: 0px 0px !important;
    }

    .card--mobile-styles {
        padding: 0;
        height: auto;

        overflow: hidden;
    }

    .card-text {
        padding: 12px 18px;
    }

    .dimension-card-h2__title {
        font-size: 14px;
        width: 188px;
        height: auto;
        margin-bottom: 6px;
    }

    .dimension-card-h2__desc {
        font-size: 10px;
        width: 188px;
        height: auto;
        margin-bottom: 6px;
    }

    .professional-teams__card-desc-top {
        font-size: 12px;
    }

    .content-professional-teams-container {
        margin-bottom: 80px;
    }

    .call-services__text h3 {
        font-size: 18px;
        width: auto;
        height: auto;
    }

    .call-services__text p {
        font-size: 10px;
        width: 320px;
        height: auto;
        margin-bottom: 26px;
    }

    .call-services__input {
        width: 300px;
    }

    .call-services__input-input button,
    .call-services__input-input {
        height: 40px;
    }

    .call-services__input-input input {
        font-size: 10px;
        padding: 0 14px;
    }

    .call-services__input-input button {
        width: 60px;
    }

    .icon-center img {
        width: 18px;
    }

    .call-services__input-desc {
        font-size: 10px;
    }

    .footer__logo-desc-top {
        font-size: 12px;
        height: auto;
    }

    .footer__logo-desc-bottom,
    .footer__logo-desc-mid {
        font-size: 12px;
    }
}

@media(min-width: 740px) and (max-width: 1024px) {
    .header {
        margin-bottom: 110px;
    }

    .bg-header {
        height: 818px;
        background: url('../../img/Home2/Background\ Slider.png') top left/100% 818px no-repeat;
    }

    .slider {
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        row-gap: 24px;
        margin-bottom: 170px;
    }

    .slider__text {
        margin: 0;
    }

    .content-about-us {
        flex-direction: column;
        margin-bottom: 130px;
    }

    .content-about-us__img {
        margin-right: 0;
        margin: 0 auto;
    }

    .professional-teams__cards {
        margin-bottom: 230px;
    }

    .content-req-call-services {
        justify-content: center;
    }

    .col-gap-card-h2 {
        margin-bottom: 0;
    }

    .content-why {
        margin-bottom: 160px;
        column-gap: 66px;
    }

    .content-why__text h3 {
        max-width: 342px;
    }

    .content-why__text p {
        margin-right: 0;
        max-width: 322px;
    }

    .content-why__statistical {
        column-gap: 40px;
    }

    .call-services__input-desc {
        width: 100%;
    }

    .call-services__input-input {
        max-width: 320px;
        margin-left: 36px;
    }

    .bg-wave-line {
        top: 2333px;
        width: 524px;
        height: 350.34px;
        background:
            url('../../img/Home2/Wave\ Line.png') top left/524px 350.34px no-repeat;
    }

    .bg-why-choosing-us {
        top: 2640px;
        height: 499.34px;
        background:
            url('../../img/Home2/Background-wcu.png') top left/100% 499.34px no-repeat;
    }

    .bg-services {
        top: 3113px;

        height: 1892.081px;
        flex-shrink: 0;
        background:
            url('../../img/Home2/Background\ Wave.png') top left/100% 1892.081px no-repeat;
    }
}